.single-activity-container {
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 10px 10px 10px 0px rgba(247, 234, 247, 1);
    border-radius: 10px;
}

.single-activity-container img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.card-title {
    color: #2F2F2F;
    font-weight: 600;
    ;
}

.card-text {
    color: #848484;
}

.time {
    color: #3D3D3D;
    font-weight: 500;
}

.button-container {
    text-align: center;
}

.btn {
    background-color: #28a745;
    border: 1px solid #28a745;
    width: 100%;
    padding: 7px 15px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #05b42e;
    border: 1px solid #05b42e;
}