.activities {
    margin-left: 10px;
    margin-top: 40px;
}

.activities h2 {
    color: #2F2F2F;
    font-weight: 700;
}

.activities-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 50px;
    margin-top: 40px;
}

@media all and (max-width:768px) {
    .activities-container {
        grid-template-columns: repeat(1, 1fr);
    }
}