.header-container {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.header-container h2 {
    color: #35BD99;
    font-weight: bold;
    font-style: italic;
}

header img {
    width: 80px;
}

.blog-nav {
    text-align: right;
}