body {
  font-family: 'Poppins', sans-serif;
  ;
  background-color: #F2F4FA;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.left-area {
  margin: 30px 80px 30px 80px;
}

h2,
h4 {
  color: #191C32;
}